/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.header {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week2/banner.png");
    height: 958px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff
}
.header h1 {
    font-size: 80px;
    line-height: 94px;
    font-weight: 900;
    font: italic normal 900 80px/94px Roboto;
    margin-bottom: 32px;
}
.social{
    display: flex;
    margin-top: 48px;
    border: 1px solid black;
}
.social_item{
    margin-right: 16px;
}
.social_item:hover{
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border-bottom: 1px solid black; */
    margin-top: 64px;
}
.main h2{
    font: italic normal medium 64px/75px Roboto;
    font-size: 64px;
}
.main img{
    margin-top: 40px;
}

.aboutMe{
    border-bottom: 1px solid black;
    padding-bottom: 24px;
    padding-top: 24px;
}

.aboutMe_item{
    font: italic normal bold 24px/42px Roboto;
    font-size: 24px;
}
.myExperience_item{
    font: italic normal bold 24px/42px Roboto;
    font-size: 24px;
    margin-top: 32px;
    margin-bottom: 56px;
}
.myExperience_item span{
    width: 22px;
    height: 22px;
    border-radius: 11px;
}


.brand{
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 160px;
}
.brand h2{
    font: italic normal medium 64px/75px Roboto;
    font-size: 64px;
    margin-top: 64px;
}
.brand p{
    font: italic normal medium 24px/42px Roboto;
    margin-top: 16px;
    font-size: 24px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 68px;
}
.center:hover{
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
.imgs_items{
    display: inline-block;
    margin-top: 40px;
    margin-right: 12px;   
}
.imgs_items:hover{
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
.other_works{
    font: italic normal medium 64px/75px Roboto;
    font-size: 64px;
    padding-top: 64px;
    text-align: center;
    /* width: 1250px; */
}
.other_works p{
    font: italic normal medium 20px/30px Roboto;
    font-size: 20px;
    margin-top: 24px;
}


.poster{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
}
.poster li{
    font: italic normal medium 20px/42px Roboto;
    font-size: 20px;

}

.poster_item{
    margin-right: 24px;
    margin-top: 56px;
    margin-bottom: 16px;
}
.poster_item:hover{
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
.footer{
    background-color: black;
    padding-top: 64px;
    padding-bottom: 80px;
}
.contactMe{
    color: #ffffff;
    text-align: center;
}
.contact{
    font: italic normal medium 64px/75px Roboto;
    font-size: 64px;
    /* margin-top: 64px; */
}
.contactMe_item{
    font: italic normal medium 24px/36px Roboto;
    margin-top: 16px;
    /* margin-bottom: 80px; */
}